version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    container_name: cost-frontend
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    container_name: cost-backend
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/cloud_cost_optimizer
      - PORT=5000
    depends_on:
      - mongodb
      - ml-engine

  ml-engine:
    build: ./ml-engine
    container_name: cost-ml-service
    ports:
      - "8000:8000"

  mongodb:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongoData:/data/db

volumes:
  mongoData:
